/*.awards-container{
    position:relative;
}

.awards-block-1{ /*this is the shape: rounded rect
    position:absolute; 
    border-radius: 25px;
    background: pink;
    padding: 20px; 
    /*width: 25%;
    height: 25%;
}*/

.awards-container{
    display:flex;
    /*justify-content:center;*/
    justify-content: center;
    
}

.awards-grid{
    width:100%;
    display:flex;
    justify-content: center; /*flex-start*/
    flex-wrap: wrap;
}

.awards-item-1{
    border-radius: 0px; /*25*/
    width:450px; /**/
    background: #2582F2;
    color: #fff;
    padding: 50px; /*20 -- making it larger makes less elems per row*/
    margin-left: 10px; /*45*/
    margin-top:10px;
    box-shadow: 0px 0px 15px 0px #e4e4e4;
    transition: all 0.5s;
    box-sizing: border-box; 

    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-self:stretch;
    /*filter: alpha(opacity=60);*/
}

@media screen and (max-width: 500px) {
    .awards-item-1{
        margin-left:10px;
    }
}

.awards-item-1:hover{
    transform: scale(1.05);
}